* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-out-conatiner {
  background: rgb(20, 20, 20);
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

li {
  list-style: none;
  transition: .3s ease-out;
  cursor: pointer;
}

li:hover {
    color: red;
}


.header-sec-container ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  height: 70px;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
}

.header-sec-container {
  display: flex;
  justify-content: space-between;
}

.left-list {
  width:900px;
  display: flex;
  justify-content: space-between;
  align-items: center ;
}

.right-list {
  width:300px;
  display: flex;
  justify-content: space-between;
}



@media (max-width: 624px) {
    .remove,.none {
      display: none;
    }
}


@media (max-width: 732px) {
    .header-outer-container {
        background-color: aqua ;
        color: black;
    }
    .my-list {
      margin-right: 150px;
    }
    .header-sec-container ul li{
      width: 35px;
    }
    .left-list img {
      width: 200%;
      margin-left: 0px;
    }

    .header-sec-container ul {
      justify-content: space-between;
    }
    .none {
        display: none !important;
    }
    .header-container {
        width: 53%;
    }
}

@media (min-width: 540px) and (max-width: 720px) {
    .header-outer-container {
        background-color: yellow;
        color: black;
    }
}

@media (min-width: 720px) and (max-width: 960px) {
    .header-outer-container {
        background-color: green;
    }
}

@media (min-width: 960px) and (max-width: 1140px) {
    .header-outer-container {
        background-color: blue;
    }
}

@media (min-width: 1140px) {
    .header-outer-container {
        background-color: red;
    }
}
